<!DOCTYPE html>
<html>
<head>
<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

body {background-color:lightgrey}
h1   {color:white}
p {
    border:1px solid grey;
    padding:10px;
    margin:30px;
	color:red;
}
</style>
</head>

<body>
<div id="header">
	<h1>Hello World</h1>
</div>
	<p>Wassup?</p>
	<p>This is my sample.</p>
	<img src="Whtever-You-Do-.gif" alt="Hi" style="width:304px;height:228px;">
</body>
</html>
