<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="./space.css" />
    <style>
       .text {
           width: 100%;
           top: 30%;
           text-align: center;
           font-family: Verdana;
           color: white;
           position: absolute;
       }
    </style>
</head>

<body>
    <div class="text">
        <h1>Hello World!</h1>
        <p>This background is an awesome css animation I found.</p><br />
	<p>-Chris Liu</p>
    </div>
    
    <p>
        <span id="fog">A long</span>
        <span id="fog-2">long time</span>
        <span id="glow">ago,</span>
        <span id="light">in a</span>
        <span id="stars">galaxy</span>
        <span id="stars-2">far</span>
        <span id="small-stars">far</span>
        <span id="small-stars-2">away…</span>
    </p>

</body>
</html>