<!DOCTYPE html>
<html>
<head>
<style>
.fontColor {
	color:white;
}
</style
</head>

<body background="background.jpg">

  <h1 class = "fontColor">Hello World!!!!!!</h1>
  <h2 class = "fontColor"> Enjoy the rest of your day!!! </h2>
  

</body>
</html>