<!DOCTYPE html>
<html>
<head>

</head>

<body>

  <h1>Hello my People! from chris. </h1>

  <img src="/C:/CalChallenge/node-heroku-objectives/Objective 1 - Hello World/ChrisDulzoHelloWorld/views/IMG_1645.JPG" alt="I couldn't figure out how to put in a IMG but this is a photo of me with my mouth open" style="width:700px;height:300px;">

</body>
</html>
