<!DOCTYPE html>
<html>
<head>

</head>

<body>

  <h1>Hello my People! from chris and ryan. </h1>

  <img class="logo" src="/chris.JPG" alt="I couldn't figure out how to put in a IMG but this is a photo of me with my mouth open" style="width:30%;"/>


  
</body>
</html>
